/** navbar **/

body {
    background-color: aliceblue;
    width: auto;
    height: auto;
}
.navbar {
    height: 56px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.nav-box1 {
    height: 56px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-logo {
    height: 40px;
    width: 40px;
    background-image: url(fb\ logo.png);
    background-size: cover;
    margin-right: 10px;
}
.nav-search {
    height: 40px;
    width: 40px;
    background-color: #E4E6EB;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-box1 input {
    height: 38px;
    width: 200px;
    background-color: #E4E6EB;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box2 {
    height: 56px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.nav-box2 i {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box3 {
    height: 56px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-box3 i {
    height: 40px;
    width: 40px;
    background-color: #E4E6EB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
   /** hero section **/

.hero-section {
    display: flex;
}   
   
.hero-section1 {
    width: 22%;
    height: 800px;
    background-color: aqua;
    padding-top: 30px;
    padding-left: 30px;
}   
.hero-profile {
    background-image: url(profile.jpg);
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}
.hero-section1 a {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
}
.hero-section1 p {
    margin-left: 9px;
}

.hero-section2 {
    width: 56%;
    height: 800px;
    background-color: aquamarine;
}

.hero-section3 {
    width: 22%;
    height: 800px;
    background-color: rgb(49, 121, 121);
}